/01_UVM_Test/INCA_LIBS
/01_UVM_Test/irun.history
/01_UVM_Test/irun.key
/01_UVM_Test/irun.log
/01_UVM_Test/.simvision
/01_UVM_Test/waves.shm

/02_UVM_Component/INCA_LIBS
/02_UVM_Component/irun.history
/02_UVM_Component/irun.key
/02_UVM_Component/irun.log
/02_UVM_Component/.simvision
/02_UVM_Component/waves.shm

/03_UVM_Component/INCA_LIBS
/03_UVM_Component/irun.history
/03_UVM_Component/irun.key
/03_UVM_Component/irun.log
/03_UVM_Component/.simvision
/03_UVM_Component/waves.shm
